<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>        
		<add name="SomerenDatabase" connectionString="Data Source=someren-project.database.windows.net;
			 Initial Catalog=someren_database;User ID=someren-admin;Password=3PrdbiSkEp5MFyN;" />
    </connectionStrings>
</configuration>